<div id="<%= dom_id comment %>" class="border-solid border-2 border-gray-400 rounded p-4 m-4 flex flex-col">
  <div class="flex flex-row">
    <div class="grow">
      <%= comment.user.username %>
    </div>

    <div class="auto">
      <%= comment.created_at.strftime("%R - %d %b %Y") %>
    </div>
  </div>

  <div class="p-4 my-2 bg-gray-100">
    <%= comment.body %>
  </div>
</div>
